/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/backups/
/elpa/
/eshell/
/org-clock-save.el
/org-gcal/
/recentf
/smex-items
/myinit.el
/history
/url/
/tramp
/projectile-bookmarks.eld
/projectile.cache
/bookmarks
/games
/autosave
/.hledger-web_client_session_key.aes
/.org-id-locations
/eww-bookmarks
/static/
/request/
/network-security.data
/image-dired
/mycredentials.el.gpg
/var/
/lisp/shell-interaction/shell-interaction.elc
*.sh
*.elc